.racecard {
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-width: 2px;
    border-radius: 5%;
    border-color: whitesmoke;
    padding: 3.5%;
    margin: 0.1%;
    transition: all 1.2s ease-out;
}

.racecard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.racecard-title {
    flex: 2;
    margin-bottom: 3%;
    transform: scale(1.05)
}

.racecard-subtitle {
    padding: 1%;
    margin-top: 2%;
    flex:1;
    font-size: 13px;
    font-weight: 600;
}

.race-card-image {
    flex: 2;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 5%;
    transition: all 1s ease-out;
    box-shadow: 8px 10px 12px 6px rgba(32, 31, 27, 0.2);
}

/*.race-card-image:hover {
    transform: scale(0.75);
}*/