.racetype-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.race-section{
    flex: 1;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 35%;
}

.race-header {
    flex: 1;
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.race-image {
    flex: 5;
    object-fit: cover;
    border-radius: 3%;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.22);
}

.race-description{
    flex: 3;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2%;
}

.racetype-section {
    flex: 4;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.racetype-header{
    flex: 1;
    margin: 2%;
    font-weight: 700;
    font-size: 26px;
}

.racetype-select-grid{
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2.5%
}

/*.racetype-item{
    flex: 1;
    margin: 1%
}

.racetype-item > button {
    min-width: 300px;
    min-height: 400px;
    max-width: 30%;
    max-height: 80%;
    border-style: solid;
    border-color: rgba(0,0,0,0.32);
    border-radius: 4%;
    background-color: rgba(231, 193, 119, 0.497);
    color: rgba(0,0,0,0.88);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.22);
    transition: transform 0.4s ease-out;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.racetype-item :hover{
    cursor: pointer;
    transform: scale(1.05);
}

.racetype-item-title{
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}

.racetype-item-image{
    flex: 6;
    object-fit: cover;
    border-radius: 5%;
    aspect-ratio: 3/2;
    width: 70%;
}

.racetype-item-desc{
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5%;
    width: 80%;
}*/

.alternative-section{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    min-width: 45vw;
    min-height: 20vh;
}

.alternative-section > button{
    transition: transform 0.4s ease-out;
}

.alternative-button > button :hover{
    transform: scale(1.05);
}

.alternative-comment{
    margin-top: 2%;
    flex: 1;
    font-weight: 600;
    font-size: 18px;
}

.alternative-button{
    flex: 1;
    border-radius: 4%;
    width: 180px;
    max-height: 80px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(231, 193, 119, 0.497);
    color: rgba(0,0,0,0.88);
    border: none;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.22);
    cursor: pointer;
}


