.grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.25rem;
  justify-items: center;
}
.wrapper {
  display: flex;
  gap: 1rem;
}

.sidebar {
  width: 360px;
  flex: 0 0 360px;
}

