.main-header {
    display: grid;
    place-items: center;
    height: 10%;
    margin-top: 1%;
}

.main-title {
    background: linear-gradient(to right, rgba(241,226,202,1) 0%, rgba(189,157,107,1) 51%, rgb(195, 166, 120) 92%, rgba(231,212,182,1) 100%);
    border-radius: 15% 0% 15% 0%;
}

.main-title > h1{
    transition: transform 1s ease-out;
}

.main-title :hover{
    transform: scale(1.05);
}

.main-nav {
    margin-left: 2%;
    width: 25%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.main-nav-link {
    flex: 1;
    margin: 2%;
    padding: 1%;
}

.main-nav-link > p {
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(to right, rgba(241,226,202,1) 0%, rgba(189,157,107,1) 51%, rgb(195, 166, 120) 92%, rgba(231,212,182,1) 100%);
    border-radius: 15% 0% 15% 0%;
    transition: transform 0.4s ease-in;
}

.main-nav-link :hover{
    transform: scale(1.02);
}