.element-card{
    flex: 1 1 275px;
    margin: 1%;
    min-width: 33%
}

.element-card > button {
    /*min-width: calc(300px + 1px*50%);
    min-height: 450px;
    max-width: 50%;
    max-height: 80%;*/
    border-style: solid;
    border-color: rgba(0,0,0,0.32);
    border-radius: 4%;
    background-color: rgba(231, 193, 119, 0.497);
    color: rgba(0,0,0,0.88);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.22);
    transition: all 0.6s ease-out;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1460px){
    .element-card{
        max-width: 47.5%
    }
}

.element-card :hover{
    cursor: pointer;
    transform: scale(1.02);
}

.element-card-title{
    flex: 1 1 30px;
    font-size: 20px;
    font-weight: 600;
}

.element-card-image{
    flex: 3 1 175px;
    object-fit: cover;
    border-radius: 5%;
    aspect-ratio: 3/2;
    width: 75%;
}

.element-card-desc{
    flex: 2 1 35px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5%;
    width: 75%;
}